<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupy.lineup1">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_grupy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_grupy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.grupy.lineup1.activities.ChatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.grupy.lineup1.activities.UserProfileActivity"
            android:parentActivityName="com.grupy.lineup1.activities.GroupDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.grupy.lineup1.activities.GroupDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.grupy.lineup1.activities.EditProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.grupy.lineup1.activities.PostActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.grupy.lineup1.activities.CompleteProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.grupy.lineup1.activities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.grupy.lineup1.activities.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.grupy.lineup1.activities.LogInActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.grupy.lineup1.activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.grupy.lineup1"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.grupy.lineup1.services.MyFirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver android:name="com.grupy.lineup1.receivers.MessageReceiver"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>